:root {
  --font-silver-color: rgba(51, 51, 51, 0.7);
  --font-black-color: #333333;
  --font-white-color: #ffffff;
  --line-black-color: rgba(51, 51, 51, 0.1);
  --bg-button-color: #4762ff;
}

html {
  box-sizing: border-box;
  width: 1440px;
  margin-right: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--font-white-color);
  padding: 17px 165px;
  max-width: 165vw;
}

h1,
p,
h2 {
  margin: 0;
}

.flex {
  display: flex;
}

.header {
  padding-bottom: 17px;
  border-bottom: 1px solid var(--line-black-color);
}

.adress {
  width: 285px;
}

.header-up {
  column-gap: 8px;
  align-items: center;
}

.header-toppp {
  flex-direction: column;
  width: 152px;
}

.header-down {
  align-items: center;
  margin-left: 28px;
  /* margin-top: 4px; */
  width: 285px;
}

.header-top {
  flex-direction: column;
  width: 238px;
  /* margin-right: 150px; */
  /* padding-right: 165px; */
}

.header-left {
  border-right: 1px solid var(--line-black-color);
  margin-right: 19px;
}

.header-right {
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

.header-bottom {
  justify-content: space-between;
  margin: 8px;
  margin-left: -11px;
  margin-right: 0;
  align-items: center;
}

.menu {
  column-gap: 46px;
}

a {
  text-decoration: none;
}

/* .preview-truck { */
/* margin-left: 12px */
/* margin-left: 9px; */
/* } */

.call {
  height: 40px;
  width: 179px;
  background-color: var(--bg-button-color);
  border-radius: 8px;
  align-items: center;
}

.order {
  /* position: relative; */
  margin: 11px 23px 10px;
  align-items: center;
}

.text {
  /* column-gap: 16px; */
  flex-direction: column;
  margin-bottom: 32px;
}

.text-logo {
  height: 152px;
  width: 540px;
}

.about-p {
  height: 44px;
  width: 496px;
}

.what {
  height: 52px;
  width: 196px;
  background-color: var(--bg-button-color);
  border-radius: 8px;
  align-items: center;
}

.what-do {
  margin: 11px 37px;
  align-items: center;
}

.preview {
  margin-top: 77px;
}

.preview-text {
  height: 152px;
  width: 479px;
  flex-direction: column;
}

.section {
  height: 110px;
  width: 648px;
  margin: 0;
  margin-top: 29px;
}

.offer-down {
  width: 540px;
}

.offer {
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 29px;
}

.offer-about {
  height: 48px;
  width: 648px;
  margin: 0;
  margin-bottom: 18px;
}

.grid {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 36px;
  margin-left: 32px;
  margin: 48px 32px 58px;
}

.about-card {
  position: relative;
  flex-direction: column;
  text-align: left;
  background-color: #f4f6fa;
  border-radius: 9px;
  height: 287px;
  width: 505px;
}

.euro {
  margin: 0;
  padding: 25px 0 0 28px;
  width: 366px;
}

.service-img {
  position: absolute;
  margin: 0;
  right: 0;
  bottom: 0;
  /* background-image:url(/img/Parts\ sevice.png); */
  mix-blend-mode: multiply;
}

.about {
  margin-top: 125px;
}

.lorem {
  /* position: relative; */
  width: 276px;
  height: 76px;
  margin: 0;
  padding: 15px 0 0 28px;
}

.about-us {
  margin: 96px 0 188px;
  margin-top: 96px;
  padding: 0;
  height: 290px;
  width: 576px;
  flex-direction: column;
}

.who-we-lorem {
  flex-direction: column;
  height: 158px;
  width: 576px;
  margin-bottom: 197px;
}

.text-ww {
  width: 540px;
  height: 116px;
  /* margin: 16px 0; */
}

.we-about {
  margin-top: 16px;
}

.about-logos {
  /* height: 554px;
  width: 699px;
  margin-left: 70px;
  margin-right: 0; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  grid-auto-rows: minmax(0, auto);
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: 554px;
  width: 464px;
  margin-left: 70px;
  align-content: flex-start;
  margin-top: 63px;
  row-gap: 32px;
  /* grid-template-columns: repeat(3, 1fr);
  grid-gap: 160px;
  align-items: center;
  /* grid-template-rows: 10px; */
  /* row-gap: 0; */
}

/* .about-logos div:nth-child(3) {
  grid-column-start: 2;
  margin-left: -160px;
}

.about-logos div:nth-child(4) {
  grid-column-start: 1;
}

.about-logos div:nth-child(5) {
  grid-column-start: 2;
} */

.about {
  height: 558px;
  width: 1275px;
}

/* .scania,
.volvo {
  padding-top: 0;
  margin-bottom: 0;
} */

.map {
  /* width: 1275px; */
  /* height: 541px; */
  width: 1440px;
  height: 541px;
  background-color: #f4f4f4;
  margin-left: -165px;
}

.about-map {
  margin: 96px 0 188px;
  padding: 0;
  height: 290px;
  width: 576px;
  flex-direction: column;
  margin-left: 165px;
}

.location {
  margin-left: 21px;
}

.map-we {
  height: 541px;
  width: 678px;
}

.we {
  /* margin: 96px 55px 41px 0; */
}

.lorem-text {
  margin-bottom: 16px;
}

.questions {
  margin-left: -165px;
  height: 687px;
  width: 1440px;
  background-image: url(/img/Truck\ holding.png);
}

.questions-place {
  flex-direction: column;
  background-color: var(--font-white-color);
  height: 548px;
  width: 611px;
  border-radius: 19px;
  margin-left: 664px;
  margin-top: 70px;
}

.block {
  margin-top: 39px;
  margin-left: 71px;
}

.quest-rew {
  margin-top: 16px;
  margin-left: 71px;
  width: 467px;
  height: 44px;
}

.block-name {
  background: rgba(71, 98, 255, 0.08);
  border-radius: 8px;
  height: 56px;
  width: 469px;
  margin: 35px 71px 23px;
  align-items: center;
}

.m-zero {
  margin-top: 0;
  margin-bottom: 0;
}

.name {
  width: 426px;
  height: 19px;
  margin: 19px 21px 18px 22px;
}

.send-button {
  margin: 37px 71px 40px;
  width: 469px;
  height: 66px;
  background: var(--bg-button-color);
  border: none;
  border-radius: 8px;
}

.footer {
  background-color: #1a1a1a;
  margin-left: -165px;
  height: 391px;
  width: 1440px;
  flex-direction: column;
}

.f-logo {
  height: 40px;
  width: 200px;
  margin: 50px 76px 240px 146px;
}

.f-other {
  width: 887px;
  height: 213px;
  justify-content: space-between;
  margin-top: 50px;
}

.f-main {
  flex-direction: column;
}

.h-main {
  margin-bottom: 15px;
}

.f-bottom {
  margin-bottom: 8px;
}

.f-right {
  margin-right: 4px;
  color: #ffffff;
}

.wa-logo {
  /* margin-bottom: 19px; */
  align-items: center;
  margin-top: 19px;
}

.wa-facebook {
  align-items: center;
  margin-top: 0px;
}

.wa-inst {
}

.wa-logo-bish {
  align-items: center;
  margin-top: 16px;
}

.copyright {
  height: 61px;
  border-top: 0.7px solid #474747;
  align-items: center;
  margin: 0 158px 19px 158px;
  padding-top: 18px;
  /* padding-bottom: 18px; */
}

/* Typography */

.inter-16-500 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.inter-8 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 9px;
  text-transform: uppercase;
}

.inter-24-bold {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 76px;
  color: #333333;
}

.inter-14-300 {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: rgba(51, 51, 51, 0.7);
}

.inter-14-500 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(51, 51, 51, 0.7);
}

.inter-14-600 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.inter-14-700 {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #333333;
}

.inter-14-400 {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.inter-24-700 {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}

.inter-16-400 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(51, 51, 51, 0.8);
}

.inter-24-normal {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: rgba(51, 51, 51, 0.8);
}

.inter-48-bold {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  color: #333333;
}

.inter-56-bold {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
  color: #333333;
}

.inter-24-normal-w {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.inter-20-normal {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.inter-16-normal-w {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.inter-12-normal-nw {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: #d9dbe1;
}
