:root {
    --font-silver-color: rgba(51, 51, 51, 0.7);
    --font-black-color: #333333;
    --font-white-color: #FFFFFF;

}

html {
    box-sizing: border-box;
    width: 1440px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--font-white-color);
  padding: 17px 165px;
  max-width: 165vw;
  /* border-bottom: 1px solid rgba(51, 51, 51, 0.1); */
}

h1, p {
  margin: 0;
}

.flex {
  display: flex;
}

.header {
  padding-bottom: 17px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

.adress {
  width: 285px;
}

.header-up {
  column-gap: 8px;
  align-items: center;
}

.header-toppp {
  flex-direction: column;
  width: 152px;
}

.header-down {
  align-items: center;
  margin-left: 28px;
  /* margin-top: 4px; */
  width: 285px;
  
}

.header-top {
  flex-direction: column;
  width: 238px;
  /* margin-right: 150px; */
  /* padding-right: 165px; */
}


.header-left {
  border-right: 1px solid rgba(51, 51, 51, 0.1);
  margin-right: 19px;
}

.header-right {
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

.header-bottom {
  justify-content: space-between;
  margin: 8px;
  margin-left: -11px;
  margin-right: 0;
  align-items: center;
}

.menu {
  column-gap: 46px;
}

a {
  text-decoration: none;
}

.call {
  height: 40px;
  width: 179px;
  background-color: #4762FF;
  border-radius: 8px;
  align-items: center;
}

.order {
  position: relative;
  margin: 11px 23px 10px;
  align-items: center;
}

.text {
  column-gap: 16px;
  flex-direction: column;
  margin-bottom: 32px;
}

.text-logo {
  position: relative;
  height: 152px;
  width: 540px;
}

.what {
  height: 52px;
  width: 196px;
  background-color: #4762FF;
  border-radius: 8px;
  align-items: center;
}

.what-do {
  position: relative;
  margin: 11px 37px;
  align-items: center;
}


.preview-text {
  position: relative;
  top: 77px;
  flex-direction: column;
}

.bg-truck {
  position: absolute;
  left: 644px;
}

.offer{
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: 0;
  top: 303px;
  left: 32px;
  text-align: center;
}

.offer-about {
  margin: 0;
  padding-bottom: 18px;
}

.grid {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 36px;

}

.about-card {
  position: relative;
  flex-direction: column;
  text-align: left;
  background-color: #F4F6FA;
  border-radius: 9px;
  height: 287px;
  width: 505px;
}

.euro {
  margin: 0;
  padding: 25px 0 0 28px;
}

.service-img {
  position: absolute;
  margin: 0;
  right: 0;
  bottom: 0;
  /* background-image:url(/img/Parts\ sevice.png); */
  mix-blend-mode: multiply;
}

.lorem {
  position: relative;
  width: 253px;
  height: 76px;
  margin: 0;
  padding: 15px 0 0 28px;
}


/* Typography */

.inter-16-500 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #333333;

}

.inter-8 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 9px;
  text-transform: uppercase;
}

.inter-24-bold {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 76px;
  color: #333333;
}

.inter-14-300 {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color : rgba(51, 51, 51, 0.7);
}

.inter-14-500 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color : rgba(51, 51, 51, 0.7);
}

.inter-14-600 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color : #FFFFFF;
}

.inter-14-700 {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #333333;
}

.inter-14-400 {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.inter-24-700 {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}

.inter-16-400 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(51, 51, 51, 0.8);
}










/* :root {
    --font-silver-color: rgba(51, 51, 51, 0.7);
    --font-black-color: #333333;
    --font-white-color: #FFFFFF;

}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--font-white-color);
  padding: 17px 165px;
  max-width: 165vw;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1)
}

h1, p {
  margin: 0;
}

.flex {
  display: flex;
}

.adress {
    width: 285px;
    border-right: 1px solid rgba(51, 51, 51, 0.1)
}

.header-left {
  column-gap: 8px;
  align-items: center;
} */