:root {
    --font-silver-color: rgba(51, 51, 51, 0.7);
    --font-black-color: #333333;
    --font-white-color: #FFFFFF;

}

html {
    box-sizing: border-box;
    width: 1440px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--font-white-color);
  padding: 17px 165px;
  max-width: 165vw;
  /* border-bottom: 1px solid rgba(51, 51, 51, 0.1); */
}

h1, p {
  margin: 0;
}

.flex {
  display: flex;
}

.header {
  padding-bottom: 17px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

.adress {
  width: 285px;
}

.header-up {
  column-gap: 8px;
  align-items: center;
}

.header-toppp {
  flex-direction: column;
  width: 152px;
}

.header-down {
  align-items: center;
  margin-left: 28px;
  /* margin-top: 4px; */
  width: 285px;
  
}

.header-top {
  flex-direction: column;
  width: 238px;
  /* margin-right: 150px; */
  /* padding-right: 165px; */
}


.header-left {
  border-right: 1px solid rgba(51, 51, 51, 0.1);
  margin-right: 19px;
}

.header-right {
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

/* Typography */

.inter-16-500 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.inter-8 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 9px;
  text-transform: uppercase;
}

.inter-24-bold {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.inter-14-300 {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color : rgba(51, 51, 51, 0.7);
}

.inter-14-500 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color : rgba(51, 51, 51, 0.7);
}









/* :root {
    --font-silver-color: rgba(51, 51, 51, 0.7);
    --font-black-color: #333333;
    --font-white-color: #FFFFFF;

}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--font-white-color);
  padding: 17px 165px;
  max-width: 165vw;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1)
}

h1, p {
  margin: 0;
}

.flex {
  display: flex;
}

.adress {
    width: 285px;
    border-right: 1px solid rgba(51, 51, 51, 0.1)
}

.header-left {
  column-gap: 8px;
  align-items: center;
} */